<ion-header>

</ion-header>

<ion-content class="root">


  <ion-card class="card" color="Light">

    <ion-card-header>
      <ion-card-title class="title">Let's Begin Planning Your Life!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-button class="button1" color="Light" size="large" (click)="register()">Sign Up</ion-button>

      <ion-button class="button2" color="Light" size="large" (click)="login()">Login</ion-button>
    
    </ion-card-content>

  </ion-card>
</ion-content>
