.root {
	--ion-background-color: #A9C0A1;
	--ion-background-color-rgb: 169,192,161;
}

.card{
	background-color: rgb(242, 247, 247);
	height: 550px;
	top:70px;
	
}
.item{
	background: rgb(242, 247, 247);
	padding-top: 50px;

}
.subtitle{
	text-align: center;
	padding-bottom: 15px;

}
.title{
	text-align: center;
}