.root {
	--ion-background-color: #A9C0A1;
	--ion-background-color-rgb: 169,192,161;
}

.card{
	background-color: rgb(242, 247, 247);
	height: 550px;
	top:70px;
	
}
.item{
	background: rgb(242, 247, 247);
	padding-top: 50px;

}
.title{
	text-align: center;
	font-size: 20px;
}
.button2{

    color: #000000;
    background-color: rgb(200, 209, 209);
    position: fixed;
    top:440px;
    left: 100px;
    border-radius: 10px;
    width: 155px;
    margin: auto;
    align-items: center;
    text-align: center;
}