<ion-header>

</ion-header>

<ion-content class="root">
    <ion-card class="card" color="Light">

        <ion-card-header>
          <ion-card-title class="title">Your Profile</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>

          <ion-list class="list">
            <ion-item class="item" color="Light">
              <ion-label>Name</ion-label>
            </ion-item>
            <ion-item class="item" color="Light">
              <ion-label>Username</ion-label>
            </ion-item>
            <ion-item class="item" color="Light">
              <ion-label>Email</ion-label>
            </ion-item>
          </ion-list>

                <ion-button class="button2" color="Light" size="large">Edit Profile</ion-button>

                <ion-label class="password" a href="password.page.html">Do you want to change your password?</ion-label>
        
        </ion-card-content>

      </ion-card>
   

</ion-content>
