.root {
	--ion-background-color: #a2d5dc;
}

.card{
	background-color: rgb(242, 247, 247);
	height: 400px;
	top:100px;
   
	
}
.item{
	background: rgb(242, 247, 247);
	padding-bottom: 50px;

}
.title{
	font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
}
.back{
    font-size: 20px;
    color:black;
    background-color:  rgb(242, 247, 247);
    position: fixed;
    top:600px;
    border-radius: 10px;
    width: 100px;

}

.button2{

    color: #000000;
    background-color: #a2d5dc;
    position: fixed;
    top:300px;
    left: 100px;
    border-radius: 10px;
    width: 155px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
}