.root {
    --ion-background-color: #a2d5dc;
}

.card2{
	background-color: rgb(242, 247, 247);
	height: 650px;
	top:50px;
	
}

.item{
	background: rgb(242, 247, 247);

}

.title{

	font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.button1{

    color: #000000;
    background-color: #a2d5dc;
    position: fixed;
    top:570px;
    border-radius: 10px;
    width: 100px;
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
}
.button2{

    color: #000000;
    background-color: #a2d5dc;
    position: fixed;
    top:570px;
    left:235px;
    border-radius: 10px;
    width: 100px;
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
}